{{ if $.Param "enableEditBtn" }}
  {{ $editURL := urls.Parse (.Params.editBaseURL | default ($.Param "editBaseURL")) }}
  {{ with .FirstSection }}
  <a href="{{ $editURL.Scheme }}://{{ $editURL.Host }}{{ path.Join $editURL.Path $.Language $.File.Path }}" target="_blank" rel="noreferrer">
      <button class="editBtn" aria-label="Edit This Page Button">
        {{ i18n "edit-this-page" | default "EDIT THIS PAGE" }}
      </button>
    </a>
  {{ end }}
{{ end }}
